html, body, div, ul, li, h1, h2, h3, h4, h5, h6, p, dl, dt, dd, ol, form, input, textarea, th, td, select{
    /* 清除默认样式 */
    margin: 0 auto;
    padding: 0;
     font-family: 微软雅黑;
}
a{
  text-decoration: none;
}
ul li{
	list-style: none;
}

/*头部开始style*/
.header{
	width: 100%;
	height: 80px;
	background-color: #D91D36;
	/*margin-top: 10px;*/
}
.top{
	width: 1336px;
	background-color: #D91D36;
	height: 80px;
	margin: 0 auto
}
.nav{
	width: 1336px;
	height: 80px;
	background-color: #D91D36;
}
.nav ul{
	    list-style-type: none;
	    float: right;
}
.nav ul li{
	width: 110px;
	height: 80px;
	float: left;
	text-align: center;
	line-height: 80px;
}
.nav ul li a{
	color: #f9b96c;
	font-size: 16px;
	font-family: '微软雅黑'
}
.nav ul li a:hover{
	color: #ffffff;
	border-bottom:2px solid #ffffff;
}

/*尾部style*/
.footer{
	width: 100%;
	height: 528px;
	background-color: #333;
	position: relative;
}
.start{
	width: 1336px;
	height: 260px;
	margin: 0 auto;
	position: absolute;
	top: 120px;
	left: 0px;
	right: 0px;
}
.start .left{
	position: absolute;
	left: 0;
	height:260px;
	width: 500px; 
}
.start .right{
	position: absolute;
	right: 0;
	width: 88px;
	height: 260px;	
}
.start .right img{
	 position: absolute;
	 bottom: 0;
}
.start span a{
	font-family: '微软雅黑';
	font-size: 14px;
	color: #fed077;
}
.start p{
	margin-top: 20px;
}
.start p a{
	font-family: '微软雅黑';
	font-size: 14px;
	color: #fed077;
}
.start ul{
	margin-top: 42px;
}
.start ul li{
	width: 70px;
	height: 70px;
	border: 1px solid #fed077;
	line-height: 70px;
	text-align: center;
	float: left;
	margin-left: 20px;
	position: relative;
	right: 20px;
}
.start ul li a{
	color: #fed077;
	width: 24px;
	height: 15px;
	font-size: 15px;
	font-family: '微软雅黑'
}
