/*大轮播*/
#carousel{
          height: 540px;
          width: 1920px;
          position: relative;
          margin: 0px auto;
          /*margin-top: 200px;*/
         /* padding: 7px;*/
          /*border: 1px solid #ccc; */         
}
#carousel_pic{
              height: 540px;
              width: 1920px;
              overflow: hidden;
              position: relative;	          
}
#carousel_pic ul{
	             height: 540px;
	             width: 7680px;
	             position: absolute;
	             left: 0;
	             top: 0;
	             list-style-type: none;
}
#carousel_pic ul li{
	                height: 540px;
	                width: 1920px;
	                /*position: absolute;*//*不能定位*/
	                float: left;
}
#carousel_boult{
	            display: none;
}
#carousel_boult span{
            width:200px;
            height: 200px;
            position: absolute;
            left: 5px;
            top: 50%;
            margin-top: -100px;
            background: #000;
            cursor: pointer;
            line-height: 200px;
            text-align: center;
            font-weight: bold;
            font-family: '黑体';
            font-size: 100px;
            color: #fff;
            opacity: 0.3;
            border: 1px solid #fff;	
}
#carousel_boult #right {
            right: 5px;
            left: auto;
        }
/*大轮播结束*/

.logo_me{
       height: 300px;
       width: 100%;
}
.logo_Me{
       height: 180px;
       width: 1342px;
       /*border: 1px solid red;*/
       position: relative;
       text-align: center;
       top: 36px;
}
.logo_midila1{
            margin: 0 auto;
            position: absolute;
            top:0;
            left: 0;
            right: 0;
            width: 48px;
            height: 54px;
}
.logo_midilaxiao{
            margin: 0 auto;
            position: absolute;
            top:74px;
            left: 0;
            right: 0;
            width:542px;
            height: 36px;              
}
.logo_Me p{
         display: inline-block;
         font-size: 16px;
         color: #666666;
         width: 685px;
         height: 40px;
         margin: 0 auto;
         position: absolute;
         left: 0;
         right: 0;
         bottom: 0;
}


/*多组女婚纱照片*/
.door{
    height: 400px;
    width: 100%;
    background-color: #e9e9e9;
}
.door_all{
      height: 400px;
        width: 1342px;
        position: relative; 
        background-color: #e9e9e9; 
        /*border: 1px solid green;*/    
}
.door_all ul {
            list-style-type: none;
            position: absolute;
            top: 50px;
}
.door_all ul li{
              
              text-align: center;
              height: 400px;
              width: 434px;
              float: left;
              position: relative;
              background-color: #fff;
              box-shadow: 1px 1px 10px 2px #ededed; 
              /*border: 1px solid red;*/
}
.door_all ul .ulli2{
                  margin-left: 20px;
                  margin-right: 20px;
}
.door_all ul li .mpng{
                    height: 400px;
                    width: 434px;
                    margin: 0 auto;
                    position: absolute;
                    bottom: 0px;
                    right: 0;
                    left: 0;
}

.baby_mpng{
      height: 400px;
      width: 434px;
      /*border: 1px solid #000;*/
      perspective:500px;
      position: relative;
    }
.mpng{
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0.9;
      backface-visibility:hidden;
      transition:all 1s ease 0s;
    }
.baby_mpng .baby{
      /*屁股贴屁股,baby天生要转身*/
      transform:rotateY(180deg);
    }
    .baby_mpng:hover .baby{
      transform:rotateY(0deg);
    }
    .baby_mpng:hover .xiaoming{
      transform:rotateY(90deg);
    }

.door_all .full_dress{
                    height: 84px;
                    width: 84px;
                    border-radius: 84px;
                    margin: 0 auto;
                    position: absolute;
                    left: 0;
                    right: 0;    
                    /*bottom: 0; */                                   
                    top: 150px;
                    color: #fff;
                    line-height: 84px;
                    text-align: center;
                    font-size: 20px;
                    background-color: #555;
                    opacity: 0.5;
                    display:none;
}
.door_all .full_dress a{
             color: #fff;
}
/*多组女婚纱照片结束*/
/*最新客片*/
.newset{
        height: 320px;
        width: 100%;
}
.newset_box{
            height: 112px;
            width: 1342px;
            position: relative;
            top: 118px;
            text-align: center;
            /*border:1px solid red;*/
}
.newset_box img{
                margin: 0 auto;
                position: absolute;
                top: 0;
                right: 0;
                left: 0;
                height: 36px;
                width: 542px;
}
.newset_box p{
                 margin: 0 auto;
                position: absolute;
                bottom: 0;
                right: 0;
                left: 0; 
                line-height: 26px;
                font-size: 26px;
                text-align: center;
                height: 26px;
                color: #d91d36;
}
/*最新客片结束*/
/*多组合照婚纱照*/
.group_photo{
             height: 824px;
             width: 100%;
}
#group_pho_box{
               height: 842px;
               width: 1332px;
               position: relative;
}
#group_pho_box .gro_li{
                      width: 444px;
                      height: 410px;
                      float: left;
                      position: relative;
                      /*border: 1px solid red;*/
}
#group_pho_box .gro_li .imgs{
                      width: 444px;
                      height: 410px; 
}
#group_pho_box #more{
                     position: absolute;
                     font-size: 20px;
                     color: #fff;
                     right: 40px;
                     top: 30px;
                     z-index:100;
}
.sub_div{
          width: 444px;
          height: 410px;
          display: none;
          opacity: 0.6;
          background-color: #313131; 
          position: absolute;
          top: 0;
          left: 0;    
}
.sub_div .imggeng{
                height: 22px;
                width: 26px; 
                margin:  auto;
                position: absolute;
                bottom: 0;
                top: 0;
                right: 0;
                left: 0;        
}
/*多组合照婚纱照结束*/


.logo_meta{
         height: 260px;
         width: 100%;
         margin: 0 auto;
}
.logo_meta_box{
            height: 260px;
            width: 1336px;
            /*border: 1px solid red;*/
            margin: 0 auto;
            position: relative;
}
.logo_meta_box .img1{
                   margin: 0 auto;
                     position: absolute;
                     top:50px;
                     left: 0;                     
                     right: 0;
}
.logo_meta_box .img2{
                   margin: 0 auto;
                     position: absolute;
                     top:120px;
                     right: 0;
                     left: 0;
}


/*<!-- 米迪拉摄影 -->*/
.special{
       height: 900px;
       width: 100%;
}
#special_box{
       height: 900px;
       width: 1340px;
       position: relative;
       /*border: 1px solid red;*/
}
#special_son1{
              height: 410px;
              width: 1340px;
              position: absolute;
              top: 0;
              /*border: 1px solid red;*/
}
.lunbo_one{
           position: absolute;
           z-index: 100;
            position: absolute;
            margin: 0 auto;
            /*border: 1px solid green;*/
            left: 0;
            right: 0;
            top: 20px;
            height: 370px;
            width: 924px;
            overflow: hidden;
}
.lunbo_one ul{
              list-style-type: none;
              height: 370px;
              width: 3696px;
               position: absolute;
               left: 0;
               top: 0;              
              /*border: 1px solid red;*/
}
.JO_li{
        height: 370px;
        width: 924px;
        float: left;
        position: relative;      
}
.lunbo_one ul li{
                 height: 370px;
                 width: 924px;
                 float: left;
                 position: relative;
                 /*border: 1px solid red;*/
}
#special_grson1{
              height: 410px;
              width: 498px;
               box-shadow: 1px 1px 20px 10px #ededed; 
              position: absolute;
              left: 0;              
              /*border: 1px solid red;*/  

}
#special_grson2{
              height: 410px;
              width: 498px;
               box-shadow: 1px 1px 20px 10px #ededed; 
              position: absolute;
              right: 0;              
              /*border: 1px solid red; */               
}
#special_son2{
              height: 410px;
              width: 1340px;
              position: absolute;
              bottom: 0;              
             /* border: 1px solid red;*/
}
.special_MR{
            height: 370px;
            margin-top: 20px;
            width: 208px;
            position: relative;
            border-bottom: 1px solid #fed077;
            border-top: 1px solid #fed077; 
}
#special_M{
           float: left;
}
.special_lun1{
            position: absolute;
            /*border: 1px solid green;*/
            left: 0;
            height: 370px;
            width: 436px;           
}
#special_R{
           float: right;
}

.special_lun2{
           position: absolute;
           right: 0;
            height: 370px;
            width: 436px;  
            /*border: 1px solid green;*/        
}
.special .spanimg{
                    display: inline-block;
                    height: 30px;
                    width: 86px;
                    position: absolute;
                    top: 20px;
                    left: 70px;
}
.special .spanimg p{
                       color: #fed077;
                       font-size: 13px;
                       position: absolute;
                       right: 0;
}
.special .spanimg img{
                     height: 16px;
                     width: 86px; 
                     position: absolute;
                     bottom: 0px;                       
}
#special_M .zhuang2{
                    height: 182px;
                    width: 130px;
                    position: absolute;
                    top: 94px;
                    left: 0;
}
#special_M .Shooting_box{
              display: inline-block;
              height: 62px;
              width: 110px;
              position: absolute;
              bottom: 22px;
              right: 52px; 
              line-height: 62px;
              /*border: 1px solid red;*/            
}
#special_R .Shooting_box{
              display: inline-block;
              height: 62px;
              width: 110px;
              position: absolute;
              bottom: 22px;
              right: 52px; 
              line-height: 62px;
              /*border: 1px solid red;*/            
}
#special_M .Shooting_box .Shooting_day{
                            color: #fed077;
                            font-size: 8px;
}
.strong1{
/*         width: 110px;
         height: 62px;*/
         font-size: 50px;
         color: #fed077;
         font-family: none;
         position: absolute;
         top: 0;
         z-index: 9999;
}
.strong2{ 
         font-size: 80px;
         color: #fed077;
          font-family: none;
         position: absolute;
         top: 0;
         right: 0;
         z-index: 9999;
}
.strong3{
/*         width: 110px;
         height: 62px;*/
         font-size: 50px;
         color: #fed077;
         font-family: none;
         position: absolute;
         top: 0;
         z-index: 9999;
}
.strong4{
/*         width: 110px;
         height: 62px;*/  
         font-size: 80px;
         color: #fed077;
         font-family: none;
         position: absolute;
         top: 0;
         left: 25px;
         z-index: 9999;
}

.special .spanimg1{
                    display: inline-block;
                    height: 30px;
                    width: 86px;
                    position: absolute;
                    top: 20px;
                    right: 70px;
}
.special .spanimg1 p{
                       color: #fed077;
                       font-size: 13px;
                       position: absolute;
                       left: 0;
}
.special .spanimg1 img{
                     height: 16px;
                     width: 86px; 
                     position: absolute;
                     bottom: 0px;                       
}
#special_R .zhuang3{
                    height: 182px;
                    width: 130px;
                    position: absolute;
                    top: 94px;
                    right: 0;
}
#special_son2 #special_O .Shooting_box{
              display: inline-block;
              height: 62px;
              width: 110px;
              position: absolute;
              bottom: 22px;
              right: 52px; 
              line-height: 62px;
              /*border: 1px solid red;*/            
}
#special_son2 #special_S .Shooting_box{
              display: inline-block;
              height: 62px;
              width: 110px;
              position: absolute;
              bottom: 22px;
              right: 52px; 
              line-height: 62px;
              /*border: 4px solid red; */           
}
#special_R .Shooting_box .Shooting_day{
                            color: #fed077;
                            font-size: 8px;
                            float: right;
}
/*按钮*/
#special_box .left{
                   display: inline-block;
                   position: absolute;
                   top: 180px;
                   left: 187px;
                   width: 44px;
                   height: 46px;
                   border:1px solid #fed077;
                   z-index: 200;                  
}
#special_box .left img{
          transform: rotate(-90deg);
                   width: 20px;
                   height: 20px;
                   position: absolute;
                   top: 10px;
                   left: 13px;
}
#special_box .right img{
          transform: rotate(-90deg);
                   width: 20px;
                   height: 20px; 
                    position: absolute;
                   top: 10px;
                   right: 13px;                           
}
#special_box .right{
                   display: inline-block;
                   position: absolute;
                   top: 180px;
                   right: 187px;
                   width: 44px;
                   height: 46px;
                   border:1px solid #fed077; 
                   z-index: 200;
}
/*按钮结束*/



#special_grson3{
              height: 410px;
              width: 498px;
               box-shadow: 1px 1px 20px 10px #ededed; 
              position: absolute;
              left: 0;              
              /*border: 1px solid red;*/  

}
#special_grson4{
              height: 410px;
              width: 498px;
              box-shadow: 1px 1px 20px 10px #ededed; 
              position: absolute;
              right: 0;              
              /*border: 1px solid red; */               
}
.special_SO{
            height: 370px;
            margin-top: 20px;
            width: 208px;
            position: relative;
            border-bottom: 1px solid #fed077;
            border-top: 1px solid #fed077; 
}
#special_S{
           float: left;
}
#special_S .zhuang4{
                    height: 178px;
                    width: 124px;
                    position: absolute;
                    top: 96px;
                    left: -3px;
}
#special_S .Shooting_box{
              display: inline-block;
              height: 62px;
              width: 110px;
              position: absolute;
              bottom: 22px;
              right: 52px; 
              line-height: 62px;
              /*border: 1px solid red;*/            
}
#special_S .Shooting_box .Shooting_day{
                            color: #fed077;
                            font-size: 8px;
}



#special_O{
           float: right;
}
.special .spanimg1{
                    display: inline-block;
                    height: 30px;
                    width: 86px;
                    position: absolute;
                    top: 20px;
                    right: 70px;
}
.special .spanimg1 p{
                       color: #fed077;
                       font-size: 13px;
                       position: absolute;
                       left: 0;
}
.special .spanimg1 img{
                     height: 16px;
                     width: 86px; 
                     position: absolute;
                     bottom: 0px;                       
}
#special_O .zhuang5{
                    height: 180px;
                    width: 140px;
                    position: absolute;
                    top: 94px;
                    right: -13px;
}
#special_O .Shooting_box{
              display: inline-block;
              height: 62px;
              width: 110px;
              position: absolute;
              bottom: 22px;
              right: 52px; 
              line-height: 62px;
              /*border: 1px solid red;*/            
}
#special_O .Shooting_box .Shooting_day{
                            color: #fed077;
                            font-size: 8px;
                            float: right;
}


/*<!-- 米迪拉摄影结束 -->*/
/*传统*/
.tradition{
           height: 1102px;
           width: 100%;
           background-color: #e9e9e9;
}
.tradition_box_one{
             width: 1366px;
           background-color: #e9e9e9;
}
.tradition_box{
           height: 632px;
           width: 1366px;
           background-color: #e9e9e9;
          /*border: 1px solid green;*/
}
.tradition_box ul{
                  list-style-type: none;
}
.tradition_box ul li{
                  height:632px;
                  width: 442px;
                  float: left;
                  text-align: center;
                  background-color: #fff; 
                  /*border:1px solid red; */ 
}
.tradition_box ul li .img{
                  height: 482px;
                  width: 442px;
}
.tradition_box ul li p{
                  margin-top: 38px;
                  font-size: 20px;
                  color: #ca1c33;

}
.tradition_box ul li .img1{
                  margin-top: 16px;
                  height: 24px;
                  width: 132px;
}
.tra_li{
        margin-left: 20px;
        margin-right: 20px;
}
/*传统结束