.contact{
	width:100%;
	/*height:100%;*/
	background-color: #fff;
	margin:0 auto;
	/*margin-bottom:50px;*/
	padding-bottom: 100px;
}
.contact_mian{
	width:1335px;
	height:958px;
	margin:0 auto;
	/*border:1px solid red;*/
}
.contact_mian_one{
	position: relative;
	width:100%;
	height:118px;
    line-height: 118px;
}
.contact_mian_one .red_radiu{
	position: absolute;
	top:52px;
	display: inline-block;
    width:14px;
    height:14px;
    background-color: #D91D36;
    border-radius: 50%;
}
.contact_mian_one h1{
	position: absolute;
	height:26px;
	left:34px;
}
.begin_cell{
    width:1336px;
    height:840px;
    background-color: #E9E9E9;
}
.begin_cell input{
	border:none;
	width:320px;
	height:54px;
	font-size: 24px;
	font-family:"微软雅黑";
    color:#333333;
	margin:17px auto;
	border-radius: 5px;
	margin-left: 20px;
}
.begin_cell  select{
	border:none;
	width:320px;
	height:54px;
	font-size: 24px;
	font-family:"微软雅黑";
    color:#333333;
	margin:17px auto;
	border-radius: 5px;
	margin-left: 20px;
}
.begin_cell  select option{
	display: inline-block;
	height:54px;
	line-height: 54px;
	font-size: 20px;
	font-family:"微软雅黑" ;
	color:#666666;
	text-align: center;
	background-color: #DBDBDB;
}
.begin_cell  select option:hover{
	background-color: #333333;
}
.cell_alls{
    width:1264px;
    height:756px;
    padding:84px 36px 100px;
}
.cell_left{
	width:510px;
	height:280px;
	float: left;
	font-size: 24px;
	font-family:"微软雅黑";
}
.cell_left p,.cell_right p,.areas p{
	display: inline-block;
	
}
.cell_left img,.cell_right img{
	float: right;
	margin-top: 36px;
}
.cell_right{
	width:510px;
	height:280px;
	float: right;
	font-size: 24px;
	font-family:"微软雅黑";
	/*background: url(images/icon_zhuangshi.png);*/
}
.areas{
	float: left;
	width:1247px;
	height:383px;
	position:relative;
	top:20px;

}
.textarea{
	position: absolute;
	top:0;
	left:130px;
	width:1075px;
	height:256px;
	font-size: 20px;
	border:none;
}
.areas p{
	font-size: 24px;
	font-family:"微软雅黑";
	position: absolute;
	top:0px;
	left:0;
}
.biaozhu{
    width:150px;
    height:56px;
    line-height: 56px;
    position: absolute;
    left:130px;
    bottom:70px;
}
.biaozhu .zhushi{
    font-family:Micrcosoft YaHei;
    font-size: 16px;
    color:#666666;

} 
.areas .submit{
	position: absolute;
	top:50px;
	width:321px;
	height:67px;
	background-color:#D91D36;
	color:#fff;
	margin:0;
}

.colors{
       color:red;
}
